<%- include('header') -%>

<div class="container banner">
	<div class="row">
		<div class="col-md-10 col-centered text-center">
			<h1>Projects</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Drive with Eaze</h3></a>
			<p>
				Objective: Signing up new drivers with local partners
			</p>
			<div class="text-center">
				<img src="/images/projects/drive-with-eaze/drive-with-eaze.gif">
			</div>
		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>HomeServe</h3></a>
			<p>
				Objective: Connecting people with home services (renter’s insurance, internet, tv service, & utilities) in their local neighborhood.
			</p>
			<div class="text-center">
				<img src="/images/projects/homeserve/homeserve.gif">
			</div>
		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Product/Brand Pages</h3></a>
			<p>
				Objective: Optimized for SEO, bringing in new users through the major web search platforms. Surfacing new brands and products to our user base. Allowing the ability to share brands and products with friends.
			</p>

			<div class="row">
				<div class="col-md-8 col-centered gray-square-large text-center">
				<br><br>
					<%- include('carousels/product-brand-carousel') -%>
				</div>
			</div>
		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Eaze App</h3></a>
			<p>
				Objective: Signing up new user through key features of the native app
			</p>

			<div class="text-center">
				<img src="/images/projects/eaze-app/eaze-app.gif">
			</div>
		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Careers Page</h3></a>
			<p>
				Objective: A redesign of the company’s career page, featuring a tour of the office, employee’s photo and bio, description of the company, and job openings. The page was optimized for mobile web.
			</p>

			<div class="row">
				<div class="col-md-8 col-centered gray-square-large text-center">
				<br><br>
					<%- include('carousels/careers-page-carousel') -%>
				</div>
			</div>
		</div>
	</div>

	<br><br>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Orders Page</h3></a>
			<p>
				Objective: An internal tool that surface real time data for live on demand deliveries
			</p>

			<div class="row">
				<div class="col-md-8 col-centered gray-square-large text-center">
				<br><br>
					<%- include('carousels/orders-page-carousel') -%>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include('footer') -%>