<%- include('header') -%>

<div class="container banner">
	<div class="row">
		<div class="col-md-10 col-centered text-center">
			<h1>Projects</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Drive with Eaze</h3></a>
			<p>
				Objective: Signing up new drivers with local partners
			</p>
			<div class="text-center">
				<img src="/images/projects/drive-with-eaze/drive-with-eaze.gif">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>HomeServe</h3></a>
			<p>
				Objective: Connecting people with home services (renter’s insurance, internet, tv service, & utilities) in their local neighborhood.
			</p>
			<div class="text-center">
				<img src="/images/projects/homeserve/homeserve.gif">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Product/Brand Pages</h3></a>
			<p>
				Objective: Optimized for SEO, bringing in new users through the major web search platforms. Surfacing new brands and products to our user base. Allowing the ability to share brands and products with friends.
			</p>

			<div class="row">
				<div class="col-md-8 col-centered gray-square-large text-center">
				<br><br>
					<%- include('carousels/product-brand-carousel') -%>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Eaze App</h3></a>
			<p>
				Objective: Signing up new user through key features of the native app
			</p>

			<div class="text-center">
				<img src="/images/projects/eaze-app/eaze-app.gif">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Careers Page</h3></a>
			<p>
				Objective: A redesign of the company’s career page, featuring a tour of the office, employee’s photo and bio, description of the company, and job openings. The page was optimized for mobile web.
			</p>

			<div class="row">
				<div class="col-md-8 col-centered gray-square-large text-center">
				<br><br>
					<%- include('carousels/careers-page-carousel') -%>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="strategy"><h3>Orders Page</h3></a>
			<p>
				Objective: An internal tool that surface real time data for live on demand deliveries
			</p>

			<div class="row">
				<div class="col-md-8 col-centered gray-square-large text-center">
				<br><br>
					<%- include('carousels/orders-page-carousel') -%>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="problem"><h3>Problem</h3></a>
			<p>
				The first step in integrating the acquired product was to rebuild their non-performant javascript mobile app in native code. In order to quickly release a functional, reliable app, the app functionality and design remained similar to the existing app, with a reskin to RingCentral brand guidelines, and an addition of some usability enhancements that would improve the experience and feel native on iOS and Android.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="role"><h3>My Role</h3></a>
			<p>
				While the original objective of this project was to re-brand Glip and optimize the app for native mobile platforms, I helped the team realize that we could also use this as an opportunity to re-structure some of the key flows for a better user experience.
			</p>
			<div class="col-md-10 col-md-offset-2">
				<img src="/images/projects/glip-project/3-timeline.png" class="img-responsive">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="process_ios"><h3>Process: Usability Improvements on iOS</h3></a>
			<p>
				A few of the usability enhancements I advocated are shown below.
			</p>
			<h4 class="indent-usability-header">Finding a Conversation</h4>
			<div class="col-md-5 col-md-offset-1">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/4-messages.png">
					<h4>BEFORE</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Finding a conversation required scrolling through a long list of names, and it was difficult to find a specific person.</li>
						<li>It was difficult to distinguish conversations with people I found important (ie. my Favorites) from those I thought were less important (ie. a team where lots of messages accumulated).</li>
					</ul>
				</div>
			</div>

			<div class="col-md-5">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/5-Messages_noframe.png">
					<h4>AFTER</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Filters at the top helped distinguish an individual conversation from a team conversation and quickly navigate to messages from my Favorites.</li>
						<li>Individual contact photos differed from a team or group conversation icon.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<h4 class="indent-usability-header">Creating a New Message</h4>
			<div class="col-md-5 col-md-offset-1">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/6-start new message_select person.png">
					<h4>BEFORE</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Just to create a new message, users had to navigate through the entire company directory.</li>
						<li>Looking for my coworker, Sam would require scrolling through 300+ names first.</li>
					</ul>
				</div>
			</div>

			<div class="col-md-5">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/7- New Message Input Name.png">
					<h4>AFTER</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Suggested contacts were visible to help cue the user and to easily start a new message.</li>
						<li>Search allowed quickly finding a contact to start a message.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<h4 class="indent-usability-header">Creating a New Team</h4>
			<div class="col-md-5 col-md-offset-1">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/7- New Message Input Name.png">
					<h4>BEFORE</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Just to create a new message, users had to navigate through the entire company directory.</li>
						<li>Looking for my coworker, Sam would require scrolling through 300+ names first.</li>
					</ul>
				</div>
			</div>

			<div class="col-md-5">
				<div class="screenshots-before-after">
					<img src="/images/projects/glip-project/8-create_team_2.png">
					<h4>AFTER</h4>
				</div>
				<div class="before-after-list">
					<ul>
						<li>Creating a team required at least 3 taps: first to give the team a name, then to select who could join the team, and finally to select members to add to the team.</li>
						<li>Adding members to a team required scrolling through a long list of contacts to find a person and add them.</li>
						<li>There was no visible place to see who I had added to the team, without scrolling up and down to see my selections.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-centered">
			<p>
				In my limited time frame, we prioritized improving the basic interactions of finding an important message, creating a new message, and creating a new team. We chose to focus on these core usability issues in order to improve the basic experience of messaging, and are continuing to work on the nice-to-have enhancements for the next release.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<!--<a name="final_ios_designs">--><h3>Final iOS Designs</h3><!--</a>-->
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered text-center">
			<div class="row gray-square">
				<div class="col-md-4">
					<img src="/images/projects/glip-project/10-Glip-Login-Screen.png">
				</div>
				<div class="col-md-4">
					<img src="/images/projects/glip-project/11-Messages-Screen.png">
				</div>
				<div class="col-md-4">
					<img src="/images/projects/glip-project/12-Message-Thread.png">
				</div>
					<div class="text-center col-md-12 text-center">
						<a href="https://ringcentral.invisionapp.com/share/785TLZ49M#/screens" target="_blank" class="btn btn-blue">SEE FULL DESIGNS</a>
					</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="process_android"><h3>Process: Optimizing for Android</h3></a>
			<div class="indent-usability-header">
				<p>
					With an iOS app in development and ready to ship, the next focus was to optimize the app’s usability and interactions for Android. The following screens were redesigned with native Android interactions and Material Design principles.
				</p>

				<h4>Navigation</h4>
				<p>
					On every Android phone, a device navigation bar persists at the bottom with the Back, Home, and Overview controls. In designing the Glip Android app, we realized that placing an app navigation at the bottom would add another navigation very close to the system navigation, which could easily cause selection mishaps and would demonstrate an atypical layout for this OS.
				</p>
				<div class="text-center">
					<img src="/images/projects/glip-project/13-Device-Nav.png" class="image-top-bottom-margin">
				</div>
				<p>
					For a navigation that felt native on Android, we used a conventional navigation drawer that would swipe from the left. Since one could scroll up and down in a left drawer, this design would be scalable if we ever needed to expand the list of menu items.
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<div class="col-md-5 col-md-offset-2">
				<img src="/images/projects/glip-project/14-Nav-on-iOS.png" class="image-top-bottom-margin">		
			</div>
			<div class="col-md-5">
				<img src="/images/projects/glip-project/16-Nav-on-Android.png" class="image-top-bottom-margin">		
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<div class="indent-usability-header">
				<h4>Messages Screen Filters</h4>
				<p>
					On the Messages screen, we wanted to preserve the filters in order to provide users the ability to switch between different message views by sender. These filters would be helpful for those looking for direct 1-1 messages amongst an influx of team messages, for example.
				</p>
				<div class="text-center">
					<img src="/images/projects/glip-project/15-Filters-on-iOS.png" class="image-top-bottom-margin">
				</div>
				<p>
					We wanted to preserve the filters on the Messages screen since it would be helpful for those looking for direct 1-1 messages amongst an influx of team messages, for example. With testing however, users expressed that the iOS filter design looked like a main menu on Android.
				</p>
				<div class="text-center">
					<figure>
						<figcaption>TABS - EXPECTED BEHAVIOR ON ANDROID</figcaption>
						<img src="/images/projects/glip-project/17-Tabs-expected-behavior.png" class="image-top-bottom-margin">
					</figure>
				</div>
				<p>
					This was understandable, as sectional tabs on the top of an Android app typically served as the app’s primary navigation. Also, since we now moved the primary navigation out from the bottom of the screen, users would immediately see a row of filter icons upon arrival, and incorrectly identify as the primary navigation.
				</p>
				<div class="text-center image-bottom-margin">
					<figure>
						<figcaption>FILTERS ON ANDROID</figcaption>
						<img src="/images/projects/glip-project/18-filters-on-android.png">
					</figure>
				</div>
				<p>
					In order to avoid confusing the primary app navigation with the Message filters, we collapsed the filters into a dropdown. This design enabled users to understand the relationship of the filters to the Messages page, and also reduced the noise on the screen, allowing the messages to take center stage.
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<div class="indent-usability-header">
				<h4>Floating Action Button</h4>
				<p>
					Consistent with material design standards, we used a floating action button (FAB) to promote the primary action on a page.
				</p>
				<div class="text-center">
					<img src="/images/projects/glip-project/19-FAB-shell.png" class="image-bottom-margin">
				</div>
				<p>
					Since the primary objective of the Glip mobile app was messaging, we wanted to distinguish and promote the action of messaging—either creating a new one or finding an existing one—as the primary action on the page using a floating action button.
				</p>
			</div>
		</div>
	</div>

	<div class="row android-row-margin">
		<div class="col-md-10 col-centered">
			<div class="col-md-5 col-md-offset-2 text-center">
				<figure>
					<figcaption>COMPOSE MESSAGE ON IOS</figcaption>
					<img id="compose-message-ios" src="/images/projects/glip-project/19-compose-msg-iOS.png">
				</figure>
			</div>
			<div class="col-md-5 text-center">
				<figure>
					<figcaption>COMPOSE MESSAGE ON ANDROID</figcaption>
					<img src="/images/projects/glip-project/20-compose-msg-android.png">
				</figure>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<div class="indent-usability-header">
				<h4>Thread Action Sheet</h4>
				<p>
					One major difference between iOS and Android is the file storage feature on Android. In addition to the photo library, users can upload content from a number of folders on the Android OS, such as from Screenshots, Downloads, or Google Drive.
				</p>
				<div class="text-center android-row-margin">
					<figure>
						<figcaption>ANDROID SYSTEM</figcaption>
						<img id="compose-message-ios" src="/images/projects/glip-project/21-android-file-storage.png">
					</figure>
				</div>
				<p>
					Given the robust file storage system on Android, we made available the option to upload not only photos (as consistent with iOS), but also the ability to upload any file from the device.
				</p>
			</div>
		</div>
	</div>

	<div class="row android-row-margin">
		<div class="col-md-10 col-centered">
			<div class="col-md-5 col-md-offset-2 text-center">
				<figure>
					<figcaption>ACTION SHEET ON IOS</figcaption>
					<img src="/images/projects/glip-project/21-action-sheet-ios.png">
				</figure>
			</div>
			<div class="col-md-5 text-center">
				<figure>
					<figcaption>ACTION SHEET ON ANDROID</figcaption>
					<img id="action-sheet-android" src="/images/projects/glip-project/22-action-sheet-android.png">
				</figure>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<!--<a name="final_android_designs">--><h3>Final Android Designs</h3><!--</a>-->
		</div>
		<div class="col-md-10 col-centered text-center">
			<div class="row gray-square">
				<div class="col-md-4">
					<img src="/images/projects/glip-project/23-Login-Screen-android.png">
				</div>
				<div class="col-md-4">
					<img src="/images/projects/glip-project/24-android-msgs-home.png">
				</div>
				<div class="col-md-4">
					<img src="/images/projects/glip-project/25-android-shelf.png">
				</div>
					<div class="col-md-12 text-center">
						<a href="/images/projects/glip-project/Glip_Android_finaldesigns.jpg" target="_blank" class="btn btn-blue">SEE FULL DESIGNS</a>
					</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-centered">
			<a name="next"><h3>Next Steps</h3></a>
			<p>
				The app <a href="https://itunes.apple.com/us/app/ringcentral-glip-real-time/id715886894?mt=8#">launched in the App Store </a> in July 2016. Currently, I am pursuing research for the next iteration to better understand workflows for Glip users on mobile. I am also working together with the product team to determine the appropriate intersection of Glip’s team collaboration features with RingCentral’s suite of cloud communications apps.
			</p>
		</div>
	</div>
</div>
<%- include('footer') -%>